extends layout

//- Blocks (in jade files that extend from other files)
    will fill in the content of the placeholder found
    in the file they extend from. Look at 'layout.jade'
    for a matching 'block content'
block content
  //- Variables:
        If the variable is a part of a string, use
        the #{variable name} to include it.

        If the variable is the ENTIRE contents of
        the element or an attribute, you can use
        the =variable to assign it to the contents
  //- Classes can be added by chaining along .class-name's
  h1(class=username).something Hello #{username}!

  //- Ids can be added with #id
  h3#my-h3= username

  //- If statement driven by the data
  if description
    p= description
  else
    p No description

  //- Use the '.' to say that everything indented below
      is considered part of the CONTENT of the element.
      If you need html elements inside, you have to write them
      as plain ol' html.
  p.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Laboriosam odio laborum ipsum quae ad ipsam molestias aliquam omnis
    ut, libero dolorum, sed enim, error eos amet id neque maiores. Nemo.
    <a href="#">Anchor</a>
  
  //- Another way to handle multi-line content
  p Line of content
    | Another line of content
    | Yet another line of content
    a(href="#") Anchor of Text
  
  //- Example of an inline script element
  script.
    var a = 10;
    var b = 20;
    console.log(a + b);

//- We can fill in as many block placeholders as we want!
block head-scripts
  link(href="main.css", rel="stylesheet")